body {
  width: 100vw;
  max-height: 100vh;
  background-color: black;
}
.Dapp {
  color: white;
  text-align: center;
}
.mover {
  width: 100px;
  height: 100px;
  margin-top: 115%;
  background-image: url("./glowship.png");
  background-size: cover;
  border: 0px solid rgb(236, 236, 236, 0);
  background-color: rgb(1, 0, 3, 0);
  position: relative;
  border-radius: 90%;
  text-align: center;
}
.bullet {
  width: 50px;
  height: 50px;
  margin-left: -63px;
  position: relative;
  /* margin-top: 115%; */
  background-image: url("./bullet.png");
  background-size: cover;
  border: 0px solid rgb(236, 236, 236, 0);
  background-color: rgb(1, 0, 3, 0);
  position: absolute;

  text-align: center;
}
.inventory {
  color: "white";
  position: absolute;
}
.board {
  border: 20px ridge grey;
  margin-top: 50px;
  margin-left: 10px;

  height: 600px;
  max-height: 600px;
  max-width: 420px;
  min-height: 600px;
  min-width: 420px;
  background-image: url("./stars.gif");

  background-size: cover;
}
